<%= form_for(@image) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
      <%= f.label :image_file, "Add image:" %>
      <%= f.file_field :image_file %>
  </div>
  <%= f.submit "Upload", class: "btn" %>
<% end %>
